.content {
    @apply bg-slate-200 min-h-screen overflow-scroll;
}
.title {
    background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e");
    @apply h-[150px] font-semibold leading-tight text-6xl flex items-center px-7 text-white;
}
.main_content {
    @apply p-5 flex flex-col gap-5;
}

.content > img {
    @apply w-full h-[320px] object-cover;
}

.content_main_card > img {
    max-width: 50px;
    @apply object-contain rounded-full;
}

.content_main_card {
    @apply flex gap-3 justify-end items-center w-full;
}

.content_main_card > .content_text{
    @apply text-right;
}
p{
    font-size: 14px;
}
