.app-body {
    display: flex;
}

.app-wrapper-content {
    transition: margin-left 0.3s ease;
    margin-top: 64px;
    min-height: calc(100vh - 64px);
    padding: 16px;
}

/* Navbar expanded */
.content-expanded {
    margin-left: 150px;
    width: 100vw;

}

/* Navbar collapsed */
.content-collapsed {
    margin-left: 30px;
    width: 100vw;

}
