
.app-wrapper{
  grid-template-areas: 'header header'
                        'nav content';
  @apply h-screen grid grid-rows-[70px_1fr] gap-3 grid-cols-[2fr_10fr];
}
.header{
  grid-area: header;
  @apply bg-blue-100 p-1;
}
.header > img{
  max-width: 65px;
}
.nav {
  grid-area: nav;
  @apply bg-slate-100 p-5;
}
.content{
  grid-area: content;
}
.content > img{
  @apply w-full h-2/6 object-cover;
}
.content .content-text{
  @apply p-6;
}
a{
  @apply cursor-pointer;
}
.content-main-card > img{
  @apply h-[150px] object-contain;
}
.content-main-card{
  @apply flex gap-5;
}